/* GLOBAL STYLES */

h1, p {
  font-family: sans-serif;
}

/* HEADER */

header {
  width: 901px;
  margin: 0 auto;
  padding-top:45px;
}

nav {
  border-bottom: 5px ridge grey;
  padding-bottom: 25px;
}

nav div {
  display: inline-block;
}

nav div > img {
  float: left;
  margin-right: 5px;
}

nav h3 {
  font-family: Yellowtail, cursive;
  font-size: 36px;
  font-weight: bold;
  float: left;
  width: 175px;
}

nav p {
  font-size: 8px;
  font-family: sans-serif;
}

nav ul {
  float: right;
  margin-top: 15px;
}

nav li {
  display: inline-block;
}

header section {
  padding: 45px 0 25px;
}

header section h1 {
  font-size: 32px;
  width: 100%;
  display: inline-block;
  font-family: Oswald, sans-serif;
  letter-spacing: -1px;
}

header section p:nth-child(2) {
  font-size: 8px;
  width: 350px;
  display: inline-block;
  color: grey;
}

header section div {
  float: right;
}

header section div p:nth-child(2) {
  display: inline;
  font-size: 11px;
  color: grey;
  font-family: Oswald;
  font-weight: 200;
}

/* MAIN */

main {
  width: 901px;
  margin: 0 auto;
  border-bottom: 5px ridge grey;
}

main img {
  margin-bottom: 25px;
}

main section p {
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  margin-bottom: 25px;
  text-indent: 35px;
}

main section:nth-child(3) {
  background: url(../img/list-bg.png) no-repeat center center;
  height: 230px;
  padding: 28px 25px 25px;
  margin-bottom: 30px;
}

main section ul {
  font-family: 'Patrick Hand', cursive;
  list-style-type: none;
  float: left;
  padding-left: 60px;
  width: 350px;
}

main section li {
  font-size: 24px;
  margin-bottom: 8px;
}

li:nth-child(2) span, li:nth-child(3) span {
  text-decoration: line-through;
}

li:nth-child(6) span {
  padding-left: 24px;
}

input[type=checkbox] {
  background-color: transparent;
}

/* FOOTER */